/* Nexus 5 Marvel Skin		*/
/* for Ryuzine Writer 1.0	*/
/* Width: 640				*/
/* Height: 360				*/

@import url("../devices.css-master/assets/devices.min.css");

.marvel-device {
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	-ms-box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
/* This device is not the right size for Simulator, make adjustments */
.marvel-device.nexus5 {
	width: 360px;
	height: 640px;
	padding: 60px 18px 70px 10px;
}
.marvel-device.nexus5.landscape {
	width: 640px;
	height: 360px;
	padding: 18px 60px 18px 70px;
}
.marvel-device.nexus5 .camera {
	width: 18px;
	height: 18px;
	margin-left: -10px;
}
	.marvel-device.nexus5 .camera::before {
		width: 8px;
		height: 8px;
		top: 5px;
		left: -130px;
	}
.marvel-device.nexus5.landscape .camera {
	left: calc(100% - 35px);
}

#simulator, #simbox {
	background: rgba(255,255,255,.4);
}
#device.portrait {
	margin-top:  -380px;
	margin-left: -194px;
}

#device.landscape {
	margin-top: -194px;
	margin-left: -380px;
}

/* Screen Only Centering */
#device.noskin .top-bar,	#device.noskin .sleep,	#device.noskin .volume, 
#device.noskin .camera,	#device.noskin .sensor, 	#device.noskin .speaker, 
#device.noskin .home, 	#device.noskin .bottom-bar {
	display: none;
}
	/* Note: Marvel Device skins need height and width declared for unskinned screen */
	#device.portrait.noskin {
		height: 640px;
		width: 360px;
		margin-top: -320px;
		margin-left: -180px;
		padding: 0;
	}
	#device.portrait.noskin.marvel-device.nexus5::before {
		display: none;
	}
	#device.landscape.noskin {
		height: 360px;
		width: 640px;
		margin-top: -180px;
		margin-left: -320px;
		padding: 0;
	}
	#device.landscape.noskin.marvel-device.nexus5::before {
		display: none;
	}